/* 공통 */
*, p, h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    letter-spacing: -1px;
    word-break: keep-all;
    word-spacing: 1px;
    font-family: "Pretendard";
    user-select: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    background: #f7f7f7;
    cursor: none;
}

body::-webkit-scrollbar {display: none;}

.flex {display: flex;}
.ais {align-items: start;}
.aic {align-items: center;}
.aie {align-items: end;}
.jcs {justify-content: start;}
.jcc {justify-content: center;}
.jce {justify-content: end;}
.jcsb {justify-content: space-between;}
.tac {text-align: center;}
.gap {gap: 1rem;}
.gap2 {gap: 0.5rem;}
.col-flex {
    display: flex;
    flex-direction: column;
}

.por {position: relative;}
.poa {position: absolute;}

.dn {display: none;}
.inv * {pointer-events: none;}
.inv {
    opacity: 0;
    pointer-events: none;
}

.wrap {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}

/* 탭 */
.tabs {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    background: #e4e1dc;
}
.tabs .tab {
    transition: .3s;
    padding: .5rem 1rem;
}
.tabs .tab:hover {background: #33c8f333;}

/* 비활성화 */
.disable {
    background: lightgray !important;
    color: gray !important;
    border: 1px solid lightgray !important;
    opacity: .7;
    pointer-events: none;
}










/* 커서 */
.cursor {
    width: .5rem;
    height: .5rem;
    pointer-events: none;
    position: fixed;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #f7f7f7;
    z-index: 100;
    transition: background .2s;
}

body:has(.contents .introduce .profile .img:hover) .cursor,
body:has(.contents > *:not(.introduce_section):hover) .cursor {
    background: #222;
}

body:active .cursor {
    background: #fe5417 !important;
}










/* 콘텐츠 */
.contents > * {
    padding: 7.5rem 0;
    position: relative;
}

.contents > *:nth-child(2n) {
    background: #fff;
}

.title {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.title p {
    font-size: 1.25rem;
    opacity: .7;
}

.title h2 {
    font-size: 3.6rem;
    font-weight: 900;
}

.title span {
    color: #fe5417;
}











/* 언어 소개 */
.introduce_section {padding: 0;}
.introduce_section .title {display: none;}

.introduce .profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.introduce .profile .img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    animation: viewLists 1s linear forwards;
}

.introduce .profile .text_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
}

.introduce .toggleBtn {
    border-radius: 50px;
    text-align: center;
    padding: .5rem 6rem;
    cursor: none;
    opacity: 0;
    animation: viewLists 1s linear forwards;
}

.introduce .profile .text_item p {
    font-size: 1.25rem;
    font-weight: 600;
    opacity: 0;
    animation: viewLists2 1s linear forwards;
    animation-delay: .3s;
}

.introduce .profile .text_item h3 {
    font-size: 1.75rem;
    font-weight: 800;
    opacity: 0;
    animation: viewLists 1s linear forwards;
    animation-delay: .6s;
}

.introduce .profile .toggleBtn {
    animation-delay: .9s;
}

.introduce .toProfile {
    display: none;
    position: absolute;
    bottom: 7rem;
    left: calc(50% - 295.81px / 2);
    letter-spacing: 0;
    animation: viewLists .5s linear forwards;
}

.introduce .menu {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30rem;
    left: 1rem;
    background: #242436;
    border-radius: 50%;
    overflow: hidden;
    transition: .3s;
    opacity: 0;
    animation: viewLists .5s linear forwards;
    animation-delay: .5s;
}

.introduce .menu:hover {
    width: 100px;
    height: 85px;
    border-radius: 5px;
}

.introduce .menu i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.introduce .menu .item:hover {filter: brightness(.5);}

.introduce .menu .item.now {
    color: cornflowerblue;
    filter: brightness(1);
}

.introduce .menu .text {
    position: absolute;
    top: 55%;
    left: 44px;
    transform: translateY(-50%);
}

.introduce .menu .item {
    width: 100px;
    height: 40px;
    position: relative;
    transition: .3s;
}

.introduce .box {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #0b0b15;
    color: #fff;
    overflow: hidden;
    z-index: 1;
}

.introduce .box .cards {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 2000px;
    animation: viewCards .5s linear;
    display: none;
}

.introduce .box .cards .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    scale: 0.7;
}

.introduce .box .cards .item {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    background: #121224;
    border-radius: 5px;
    box-shadow: 0 0 3rem #bbb1;
    transition: .3s;
    transform-style: preserve-3d;
    transform: rotateY(calc(45deg * var(--i))) translateZ(450px);
    padding: 2rem 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introduce .box .cards .item i {
    width: 130px;
    height: 130px;
    font-size: 4rem;
    background: #0b0b15;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introduce .box .cards .text {
    font-size: 1.75rem;
    font-weight: 900;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.introduce .box .cards .cont {
    opacity: .7;
    font-weight: 300;
}

.introduce .box .cards .orange {color: #fe5417;}
.introduce .box .cards .blue {color: #33c8f3;}
.introduce .box .cards .yellow {color: #ffc201;}
.introduce .box .cards .purple {color: #522d8f;}

.introduce .box .cards .item:hover {
    scale: 1.05;
    box-shadow: 0 0 3px #fff5;
    background: #181830;
}

.introduce .box .lists {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    gap: 3rem;
}

.introduce .box .lists .list {
    width: 600px;
    display: flex;
    gap: 1.5rem;
    padding: 1.5rem 1.75rem;
    border-radius: 5px;
    box-shadow: 0 0 3px #fff3;
    transition: .3s;
    opacity: 0;
    animation: viewLists .5s linear forwards;
    animation-delay: calc(var(--i) * .5s);
    background: #0b0b15;
}

.introduce .box .lists .list:hover {
    scale: 1.05;
    background: #121224;
}

.introduce .box .lists .icon {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.introduce .box .lists .text_item {
    width: calc(100% - 74px);
    padding-right: .5rem;
}

.introduce .box .lists h3 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: .75rem;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #777;
}

.introduce .box .lists p {
    opacity: .7;
    line-height: 2;
}

.introduce .box .lists .orange {background: #fe541733;}
.introduce .box .lists .blue {background: #33c8f333;}
.introduce .box .lists .yellow {background: #ffc20133;}
.introduce .box .lists .purple {background: #522d8f33;}

.introduce .box .back_icon {
    position: absolute;
    text-shadow: 0 0 4px #242436;
    z-index: -1;
    font-weight: 900;
}

.introduce .box .loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #0b0b15;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    animation: loading 4s linear;
    z-index: 1;
}

.introduce .box .loading svg {
    transform: scale(0.6);  
}

.introduce .box .loading path {
    stroke-dasharray: 980;
    stroke-width: 2px;
    animation: p_text 3s linear forwards;
}

.introduce .scroll {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
}

.introduce .scroll span {opacity: .7;}

.introduce .scroll i {animation: iconAnimation 2s infinite linear;}

@keyframes loading {
    0%, 75% {
        pointer-events: unset;
        opacity: 1;
    }

    100% {
        pointer-events: unset;
        opacity: 0;
    }
}

@keyframes p_text {
    0% {
        stroke-dashoffset: 980;
        fill: transparent;
        stroke: #f7f7f7;
    }

    75% {
        stroke-dashoffset: 0;
        fill: transparent;
        stroke: #f7f7f7;
    }

    100% {
        stroke-dashoffset: 0;
        fill: #33c8f3;
        stroke: #33c8f3;
    }
}

@keyframes iconAnimation {
    0%, 100% {transform: translateY(0);}
    50% {transform: translateY(.5rem);}
}

@keyframes viewCards {
    0% {transform: translate(-50%, calc(-50% + 5rem)); opacity: 0;}
    100% {transform: translate(-50%, -50%); opacity: 1;}
}

@keyframes viewLists {
    0% {transform: translateY(5rem); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
}

@keyframes viewLists2 {
    0% {transform: translateY(5rem); opacity: 0;}
    100% {transform: translateY(0); opacity: .7;}
}












/* 내 정보 */
.about {
    height: 650px;
    position: relative;
    padding-left: 700px;
}

.about .img {
    width: 500px;
    height: 500px;
    border-radius: 5rem;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 5rem;
    transform: translateY(-50%) rotate(45deg);
}

.about img {
    width: 700px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.about .text_item {
    padding-top: 2.5rem;
}

.about .text_item h3 {
    font-size: 2rem;
    font-weight: 900;
}

.about .text_item > p {
    margin-top: 2rem;
    line-height: 2.5;
    opacity: .8;
    font-size: 1.25rem;
}

.about .charts {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding-right: 5rem;
}

.about .charts .item {
    display: flex;
    flex-direction: column;
}

.about .charts .item_title {
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: .25rem;
}

.about .charts .item p {
    font-size: 1.25rem;
    font-weight: 900;
    color: #fe5417;
}

.about .charts .item span {
    opacity: .7;
    font-weight: 400;
    color: #000;
}









/* 예시 디자인 */
.example {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.example .select {
    width: 150px;
    height: 40px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0 0 3rem #4442;
    background: #fff;
}

.example .top #select {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

.example .select label {
    width: 150px;
    height: 40px;
    display: none;
    padding: .75rem 1rem;
    align-items: center;
    justify-content: start;
    cursor: none;
}

.example .top .list {
    width: 100%;
    height: calc(var(--i) * 40px);
    position: absolute;
    top: 80%;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    z-index: 2;
    border-radius: 20px;
    box-shadow: 0 0 3rem #4442;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

.example .top .list_item {
    padding: .75rem 1rem;
}

.example .top .now {display: flex;}

.example .top #select:focus ~ .select .list,
.example .top .list:hover {
    opacity: 1;
    pointer-events: unset;
    top: 100%;
}

.example .img {
    width: 1000px;
    max-height: 500px;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 1rem;
    box-shadow: 0 0 3px #0003;
}

.example .img::-webkit-scrollbar {
    width: 1rem;
    opacity: 0;
}
.example .img::-webkit-scrollbar-thumb {
    background: #fe5417;
    border-radius: 50px;
}

.example img {
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 3px #0003;
}

.example .inp p {
    margin-bottom: .25rem;
}

.example .hide_shadow {
    width: 34px;
    height: 1rem;
    right: 0;
    position: absolute;
    background: #f7f7f7;
}

.example .hide_shadow:nth-last-child(1) {
    top: 0;
    transform: translateY(-100%);
}

.example .hide_shadow:nth-last-child(2) {
    top: 100%;
}

.example .hide_shadow:nth-last-child(3) {
    height: 500px;
    right: -34px;
}











/* 성장과정 */
.history {
    height: 48rem;
    margin-top: 2rem;
    position: relative;
}

.history .item {
    width: 40%;
    height: 180px;
    position: absolute;
    top: calc(120px * var(--i));
    left: 0;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 3rem #4442;
    padding: .75rem 1rem;
    display: flex;
    gap: 1rem;
    transition: .3s;
    opacity: 0;
    animation: history .3s linear forwards;
    animation-delay: calc(var(--i) * .5s + .2s);
}

.history .item p {
    line-height: 2;
    margin-top: 2px;
}

.history .icon {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #33c8f333;
}

.history .text_item {
    width: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}

.history .text_item h4 {
    font-size: 1.25rem;
    font-weight: 700;
    padding: .75rem 0;
    margin-bottom: .5rem;
    border-bottom: 1px solid #e4e1dc;
    display: inline-block;
    padding-right: .5rem;
}

.history .text_item span {
    position: absolute;
    top: 24px;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 14px;
    opacity: .7;
    font-weight: 900;
}

.history .item:nth-child(2n) {
    left: auto;
    right: 0;
}

.history .item:nth-child(2n) .point {
    left: auto;
    right: 110%;
}

.history .item:nth-child(2) .icon {background: #fe541777;}
.history .item:nth-child(3) .icon {background: #310b6e77;}
.history .item:nth-child(4) .icon {background: #ffc20177;}
.history .item:nth-child(5) .icon {background: #e4e1dc;}
.history .item:nth-child(6) .icon {background: #1f395c77;}

.history .point {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: 0 0 3px #0007;
    background: #fff;
    transition: .3s;
    pointer-events: none;
}

.history .item:hover {scale: 1.05;}
.history .item:hover .point {
    background: #fe541777;
}

.history .line {
    width: 1rem;
    height: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #ffc20177;
    border-radius: 50px;
    animation: h_line 3s linear forwards;
}

@keyframes h_line {
    0% {height: 0;}
    100% {height: 100%;}
}

@keyframes history {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    100% {
        opacity: 1;
        transform:translateY(0);
    }
}












/* 미래 목표 */
.goal {
    position: relative;
    height: 850px;
}

.goal .legend {
    position: absolute;
    top: -4.5rem;
    right: 1rem;
    color: #310b6eaa;
}

.goal .imgs {
    width: 500px;
    height: 900px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 0;
    left: 0;
}

.goal .img {
    width: 100%;
    height: 250px;
    position: absolute;
    top: calc(var(--i) * 300px);
    left: calc(50% + 3.25rem * (2 - var(--i)) + 6rem);
    transform: translateX(-50%) skewX(-10deg);
    overflow: hidden;
}

.goal .img img {
    width: 120%;
    height: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skew(10deg);
}

.goal .text {
    padding: .75rem 2rem;
    position: absolute;
    background: #fe5417;
    color: #fff;
    top: calc(125px + var(--i) * 300px);
    left: calc(4rem * (2 - var(--i)) + 6rem);
    transform: translate(-50%, -50%);
    z-index: 1;
    font-weight: 900;
    pointer-events: none;
}

.goal .box {
    width: 40%;
    height: 100%;
    margin-left: 60%;
    position: relative;
}

.goal .item {
    position: absolute;
    top: calc(50%);
    left: 0;
    transform: translateY(-50%);
    opacity: 0;
    transition: .3s;
}

.goal .now {
    top: calc(50% - 2rem);
    opacity: 1;
}

.goal .item h3 {
    font-size: 2rem;
    font-weight: 900;
}

.goal .item span {
    color: #fe5417;
}

.goal .cont {
    line-height: 2.25;
    margin-top: 2rem;
}












/* 푸터 */
footer {
    background: #222;
    display: flex;
    color: #f7f7f7;
    padding: 2rem 1rem;
}

footer .wrap {
    display: flex;
    align-items: center;
    gap: .25rem;
    justify-content: center;
    opacity: .7;
}

footer .wrap p {
    margin-left: .5rem;
    letter-spacing: 0px;
}